@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(wave.svg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container {
    text-align: center;
}

.clock {
    font-family: 'Rubik Doodle Shadow';
    font-size: 4rem;
    letter-spacing: 15px;
    color: rgb(255, 255, 255);
    text-shadow:
        0 0 5px rgb(0, 0, 0),
        0 0 10px rgb(0, 0, 0),
        0 0 20px rgb(0, 0, 0),
        0 0 40px rgb(0, 0, 0);
    border-bottom: 2px solid rgba(42, 0, 56, 0.473);
    margin-bottom: 30px;
}